.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin-bottom: 10px;
}

.controller {
  display: flex;
  align-items: center;
}

.controller > div:first-child {
  margin-right: 30px;
  font-size: 16px;
}

.controller > div:first-child a {
  color: black;
  font-weight: 400;
}

.controller_mobile > div:first-child {
  font-size: 14px;
}

.controller_mobile > div:first-child a {
  color: #000;
  font-weight: 400;
}

.slideBtn {
  display: flex;
}

.title {
  font-size: 20px;
  color: black;
}

.titleMobile {
  font-size: 15px;
  color: black;
}
