.post {
	margin-bottom: 1.5em;
}
.post .post-thumbnail {
	position: relative;
	padding-top: 60%;
	overflow: hidden;
	border: 1px solid #eee;
	margin-bottom: 0.75em;
}
.post .post-thumbnail img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.post .post-title {
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 26px;
}
.post .post-title a {
	all: inherit;
	text-decoration: none;
}
.post .post-title a:hover {
	text-decoration: underline;
}
.post a {
	color: #343;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 600;
}
