.currentRegionButton {
  border: none;
  background-color: #eeee;
  color: black;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 14px;
  margin-right: 16px;
}

.currentRegionModal {
  margin: 20px;
}

.currentRegionButton:hover {
  background: black;
  color: #ffff;
}

.regionOkButton {
  border: none;
  background-color: black;
  color: #eeee;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 14px;
  width: calc(100% + 20px);
}

.regionOkButton:hover {
  background-color: #eeee;
  color: black;
}

.currentSelectedRegion {
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 40px 50px;
  font-size: 25px;
  font-weight: 600;
}
.currentSelectedRegion > button {
  display: block;
}

.currentSelectedRegion i {
  margin-right: 10px;
}

.regionInput {
  width: 100%;
}

.regionInput {
  border: none;
  border-radius: 8px;
  background-color: #eeee;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: 18px;
}
