.item-add-spinner {
	width: 100%;
	height: 100%;
}

.cart-form span.ant-radio + * {
    width: 100%;
}
.cart-form .ant-radio-wrapper {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.shipping-address-guest .ant-spin-nested-loading {
    width: 100%;
}
.ant-spin-blur {
    height: 200px;
}
.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav{
    background-color: transparent;
}
