.title h2 {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.subtitle h2 {
  font-size: 2.625em;
  margin: 0.4rem 0;
  color: var(--secondary);
}

.subtitle h2 strong span {
  color: var(--primary);
}

@media screen and (max-width: 600px) {
  .subtitle h2 {
    font-size: 30px;
    line-height: 1.1;
  }
}
