.client-login-main {
  background-color: #fff;
  margin: 70px auto;
  padding: 30px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 2px 2px 15px 0 rgb(0, 0, 0, 0.15);
}

.login-footer-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.login-footer-copyright {
  background-color: #f44336;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
