.pickup-option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 30px;
}

.pickup-option-items {
  border-radius: 30px;
  padding: 6px 10px;
  color: black;
  height: 100%;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s 0.1s ease-in-out;
  font-size: 15px;
  font-weight: 500;
}
