.container {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.5;
  align-items: center;
}

.links {
  padding: 0;
  list-style: none;
}

.links li {
  border-left: 2px solid #fff;
  margin: 10px 0;
  padding-left: 15px;
}

.links li a {
  color: #fff;
  text-decoration: none;
}

.links li a:hover {
  color: #fc261a;
}

.contactBtn button {
  background-color: #fc261a;
  padding: 15px 20px;
  margin: 1.5rem 0;
  border: 2px solid #ff0b00;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  /* font-weight: 500; */
}

.contactBtn button:hover {
  background-color: #000;
  border: 2px solid #eee;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}
