.auth-login {
    /*width: 40px !important;*/
    height: 40px !important;
    padding: 5px 15px !important;
  }
  
  .google-login {
    background-color: #4385f4 !important;
    width: 120px !important;
  }
  
  .facebook-login {
    width: 140px !important;
  }
  
  .apple-login {
    width: 130px !important;
    background-color: #000 !important;
  }

  .signin-button {
    width: 130px;
    height: 40px;
  }
  