.container div:nth-of-type(1) h4 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary);
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

.container div:nth-of-type(2) p {
  color: #6e6669;
}

@media screen and (max-width: 768px) {
  .container {
    flex: 0 0 45%;
    /* flex-grow: 1; */
  }
}

@media screen and (max-width: 600px) {
}
